@charset "utf-8";
/*CSS Document*/
p {
   color: green;
   font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
   font-size: 16px;
   line-height: 18px;
   width:600px;
   background-color: antiquewhite;
   padding: 20px;
}
.paragraf_2{color: coral; background-color:red}
.novi_blok {
	background-color: red;
	padding:20px;
	margin:20px;
	width:50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue",Helvetica, Arial, "sans-serif";
	color:cadetblue;
}

span {color: orange;}
.pozadina{
	background-image: url("Slike/cesta i vozila.jpg");
}
.drugapozadina{
	background-color:yellow;
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 25px;
	border: 1px thick #red
}
a:hover{
	background-color: green;
	
}
img {
	height:400px;
	
}